.header {
    height: 4rem;
    display: flex;
    align-items: center;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: baseline;
}

.wrapper > *:first-child {
    margin-right: auto;
}

.links {
    display: flex;
    gap: 32px;
    justify-content: space-between;
}